<launch>
  <param name="/use_sim_time" value="true" />

    <arg name="model" default="waffle_pi" doc="model type [burger, waffle, waffle_pi]"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="tf_prefix" value="$(env ROBOT_NAME)"/>
    </node>

  <!-- <node pkg="tf" type="tf_remap" name="tf_remapper" output="screen">
    <rosparam param="mappings">
      - {old: "/world",
         new: "/vision"}
    </rosparam>
  </node> -->
<!-- 
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory
              $(find agent-starter)/configuration_files
          -configuration_basename cartographer_turtlebot.lua"
      output="screen">
  </node>


  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_turtlebot
          )/configuration_files/demo_turtlebot.rviz" />

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" /> -->

    <include file="$(find agent-starter)/launch/agent_cartographer.launch"/>

</launch>
