<launch>
	<include file="$(find nimbro-simulator)/launch/incoming.launch" >
		<arg name="ns" value="tb3_0"/>
		<arg name="port" value="17000" />
		<arg name="receiver_name" value="tcp_receiver0" />
		<arg name="protocol" value="tcp" />
	</include>
	<include file="$(find nimbro-simulator)/launch/incoming.launch" >
		<arg name="ns" value="tb3_1"/>
		<arg name="port" value="17001" />
		<arg name="receiver_name" value="tcp_receiver1" />
		<arg name="protocol" value="tcp" />
	</include>
	<include file="$(find nimbro-simulator)/launch/incoming.launch" >
		<arg name="ns" value="tb3_2"/>
		<arg name="port" value="17002" />
		<arg name="receiver_name" value="tcp_receiver2" />
		<arg name="protocol" value="tcp" />
	</include>
</launch>
