<launch>
<param name="/use_sim_time" value="true" />

<group>
    <!-- Server lua -->
    <node name="cartographer_grpc_cloud" pkg="cartographer_ros"
        type="cartographer_grpc_server.sh" args="
            -configuration_directory $(find cartographer_ros)/configuration_files
            -configuration_basename cloud_server.lua">
    </node>
 
    <!-- Server Cartographer lua -->

    <!-- Change server_address field in cloud_server.lua as well -->
    <node name="cartographer_grpc_bridge_cloud" pkg="cartographer_ros"
        type="cartographer_grpc_node" args="
            -configuration_directory $(find cartographer_ros)/configuration_files
            -configuration_basename cloud_slam.lua
            -server_address 0.0.0.0:55555
            -client_id 3"
        output="screen">
    </node>

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.025" />

    <node name="rviz" pkg="rviz" type="rviz" required="false" />

   </group>
</launch>

